<!DOCTYPE html>
<html>
<head>
	<title>Tableau Home Page</title>
</head>
<body>

	<h1>Links to other pages</h1>

	<a href="/sales">Sales Home Page</a>

	<a href="/marketing">Marketing Home Page</a>
    
</body>
</html>