<!DOCTYPE html>
<html>
<head>
	<title>Marketing Home Page</title>
</head>
<body>

	<a href="/marketing/mm81219">Margarita Mile 08/12/2019</a>
    <a href="/marketing/mm819219">Margarita Mile 08/19/2019</a>
    <a href="/marketing/7">Margarita Mile 01/09/2020</a>
    <a href="/marketing/8">8</a>
    <a href="/marketing/googleAds2019">Google Ads 2018-19</a>


</body>
</html>