<!DOCTYPE html>
<html>
<head>
	<title>Sales Home Page</title>
</head>
<body>

	<a href="/sales/metrics07092019">To Metrics Viz on 07/09/2019</a>
	<a href="/sales/sampleLocationsMap">To Sample Locations Map</a>
	<a href="/sales/testDashboard">Test Dashboard</a>
	<a href="/sales/5">Test Restaurants Dashboard</a>
	<a href="/sales/6">Member Hotel Dashboard</a>
    
</body>
</html>